% start S
# ############################
# Phrase Structure Rules
# ############################

S -> S conj S
S -> neg S
S -> N VP
VP -> Vi
VP -> Vt N

# ############################
# Lexical Rules
# ############################

N -> 'Liz' | 'Sadie' | 'Hank'
Vi -> 'sleeps' | 'snores' | 'is-boring'
Vt -> 'loves' | 'hates' | 'is-taller-than'
conj -> 'and' | 'or'
neg -> 'it-is-not-the-case-that'